body{
  background-color: #f0f0f0;
}

/* ======= Login Page CSS -========= */

#login-card {
  margin-top: calc(50%/3);
  max-widtH: 400px;
  box-shadow: 5px 10px 10px gray;
}

#login-card .title {
  /* text-align: center; */
  border-bottom: 1px solid #e0e0e0;
}

#login-card .body {
  max-width: 70%;
  margin: auto;
}
